/*
body{padding: 25px 0; background-color: #efefef;}
#content{max-width: 400px; padding: 5px 50px; margin: 0 auto; background-color: #fff; border: solid 1px #ccc; border-radius: 6px; box-shadow: 0 0 15px #ccc;}
*/

body{padding: 25px 0;}
#content{max-width: 320px; padding: 5px 15px; margin: 0 auto;}

input[data-required]{border-color: #ffa4a4 !important;}
input[data-required]:focus{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 132, 132, 0.6) !important;}

.center{text-align: center;}

.alert li{list-style-type: none;}